{% extends 'DNTMBundle::base.html.twig' %}

{% block body %}
    {% block header %}
    {% endblock %}

    {% block contentHead %}
    {% endblock %}

    <div class="row content">
        <div class="col-lg-12 column-left">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <div class="row footer">
        {% block footer %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
