<div class="teacher-infobox">
    <div class="image">
        <img src="" />
    </div>
    <div class="name">
        cscscscs
    </div>
    <div class="list">Profilom</div>
    <div class="list">Beállítások</div>
    <div class="list">Pénzügyek</div>
</div>
