<div class="row content-head-top">
    <div class="col-md-12 hidden-xs content">
        <h1>Adj esélyt az új dolgoknak!</h1>
        <h2>Foglalkozz azzal, amivel szeretnél, vagy tanulj valami újat!</h2>
        <h3>A tanitsmeg.hu a legkülönfélébb ...</h3>
    </div>
</div>

<div class="row content-head-form">
    <div class="col-md-2 hidden-xs"></div>
    <div class="col-md-4 col-xs-12 order">
        <select>
            <option value="-1" selected="selected">rendezés...</option>
        </select>
    </div>
    <div class="col-md-4 col-xs-12 search">
        <div class="">
            <input type="text" id="search-text" placeholder="keresés" />
            <input type="button" id="search-button" value="OK" />
        </div>
    </div>
    <div class="col-md-2 hidden-xs"></div>
</div>