<div class="row content-head-top">
    <div class="col-md-2"><a href="">Felfedező</a></div>
    <div class="col-md-2"><a href="">Bázis</a></div>
    <div class="col-md-2"><a href="">Üzenetek</a></div>
    <div class="col-md-2"><a href="">Intéző</a></div>
    <div class="col-md-2"><a href="">Ajánlatok</a></div>
    <div class="col-md-2"><a href="">Info</a></div>
</div>
